# To run the tests locally, copy this file to a new file named .env and updated
# the values to match your database connection settings.

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_NAME=musa_509
POSTGRES_USER=postgres
POSTGRES_PASS=postgres
